@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 183°, 98%, 22%;

    --primary: 97°, 68%, 69%;

    --secondary: 64°, 72%, 53%;

    --accent: 60°, 100%, 93%;

    --destructive: 0 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 216°, 18%, 16%;

    --primary: 217°, 10%, 25%;

    --secondary: 42°, 100%, 71%;

    --accent: 0°, 0%, 93%;

    --destructive: 0 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
