@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* #016a70 */
    --background: 183, 98%, 22%;
    /* #a2c579 */
    --primary: 97, 68%, 69%;

    /* #d2de32 */
    --secondary: 64, 72%, 53%;

    /* #ffffdd */
    --accent: 60, 100%, 93%;

    --destructive: 0 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    /* #222831 */
    --background: 216, 18%, 16%;
    /*#393e46*/
    --primary: 217, 10%, 25%;
    /* #ffd369 */
    --secondary: 42, 100%, 71%;
    /* #eeeeee */
    --accent: 0, 0%, 93%;

    --destructive: 0 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
